@font-face {
  font-family: 'Karla-Italic';
  src: url('./fonts/Karla-Italic-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Sabon-bold';
  src: url('./fonts/SabonLTStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Sabon';
  src: url('./fonts/SabonMTStd-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'FiraMono-Bold';
  src: url('./fonts/FiraMono-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'FiraMono-Medium';
  src: url('./fonts/FiraMono-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'FiraMono-Regular';
  src: url('./fonts/FiraMono-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'WorkSans-Italic';
  src: url('./fonts/WorkSans-Italic-VariableFont_wght.ttf') format('opentype');
}


::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f0ede6;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #494747;
}

body {
  background-color: #f0ede6;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "WorkSans", sans;
  color: #494747;
  font-size: 2.6em;
  line-height: 1.1em;
}

h2 {
  font-family: "WorkSans", sans;
  color: #494747;
  font-size: 1.3em;
  line-height: 1.2;
}

h3 {
  font-family: "WorkSans", sans;
  color: #494747;
  font-size: 1.1em;
  line-height: 1.3;
}

h4 {
  font-family: "WorkSans", sans;
  color: #494747;
  font-size: 1.0em;
  line-height: 1.3;
  font-weight: 500;
}

p {
  font-family: "FiraMono-Regular", sans;
  color: #6e6d6d;
  font-size: 0.75em;
  line-height: 1.3;
}

a {
  color: #6e6d6d;
}

a:visited {
  color: #6e6d6d;
}

.App {
  text-align: center;
}

sup {
  vertical-align: top;
  font-size: 0.6em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

svg {
  font-family: "WorkSans-Italic", serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button:hover {
  border-width: 2px !important;
}

.wip {
  border: 1px solid #FA690055;

  background-color: #e5e5f700;
  opacity: 1;
  background-image: linear-gradient(#FA690015 2px, transparent 2px), linear-gradient(90deg, #FA690015 2px, transparent 2px), linear-gradient(#FA690015 1px, transparent 1px), linear-gradient(90deg, #FA690015 1px, #e5e5f700 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.education {
  background-color: #abcea655;
}

.childmarriage {
  background-color: #9fcedb55;
}

.violence {
  background-color: #d1969b55;
}

.wage {
  background-color: #d4c49f55;
}

#circleback {
  fill: rgba(255, 255, 255, 0);
  stroke: #c0bdbd;
  stroke-width: 1px;
}

.st0 {
  fill: rgba(255, 255, 255, 0);
  stroke: #000000;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #7F3F98;
  stroke: #000000;
  stroke-width: 2px;
  stroke-miterlimit: 10;
}

.st1:hover {
  fill-opacity: 0.3;
  stroke-width: 3px;
}

.texthid text {
  visibility: hidden;
}

.texthid:hover text {
  visibility: visible;
  font-size: 2em;
}

.year {
  font-size: 2em;
}

/* ///////// */
/* START MAP */
.maphid text {
  visibility: hidden;
}

.maphid:hover text {
  visibility: visible;
  font-size: 14px;
  color: #6e6d6d;
}

.maphidT {
  font-family: "WorkSans", serif;
  font-weight: bold;
  font-size: 16px;
}

.terr {
  fill: rgba(255, 255, 255, 0);
  stroke: #232222;
  stroke-width: 0.25;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

.terr:hover {
  stroke: #232222;
  stroke-width: 4px;
  z-index: 1 !important;
}

.terr_none {
  fill: none;
  stroke: #494747;
  stroke-width: 0.25;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

.base {
  fill: rgba(255, 255, 255, 0);
  stroke: #6b6969;
  stroke-width: 0.12;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

.baseterr {
  fill: rgba(0, 0, 0, 0.5);
  stroke: #6b6969;
  stroke-width: 0;
  stroke-linecap: square;
  stroke-linejoin: bevel;
}

.label {
  font-family: "Sabon", sans-serif;
  font-style: italic;
  font-size: 10px;
  color: rgb(54, 54, 54);
  letter-spacing: 3px;
  opacity: 0.3;

}

.wave {
  fill: rgba(206, 203, 203, 0.15);
}

.exhigh {
  fill: rgba(189, 73, 154, 0.6);
}

.high {
  fill: rgba(189, 73, 154, 0.5);
}

.discr {
  fill: rgba(189, 73, 154, 0.4);
}

.medium {
  fill: rgba(189, 73, 154, 0.25);
}

.low {
  fill: rgba(189, 73, 154, 0.1);
}

/* END MAP */
/* /////// */

.mapchartlinetitle {
  font-size: 0.85em;
  color: #494747;
  ;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
}



@media only screen and (max-width: 600px) {

  .header {
    align-items: initial !important;
    flex-direction: column !important;
  }

  .title {
    width: 80vw !important;
    margin: auto;
    padding: 20px !important;
  }

  .statement {
    width: 80vw !important;
    margin: auto;
    padding: 20px !important;

  }


  /* START MAP */
  /* ///////// */
  .maphidT {
    font-size: 24px;
    width: 100%;
  }

  /* END MAP */
  /* /////// */

  .mapchartline {
    align-items: center !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    max-height: unset !important;
  }

  .mapchartline svg {
    width: 100% !important;
  }

  .mapchartline text {
    font-size: 1.4em;
  }

  .mapchartlinetitle {
    font-size: 0.75em;
  }

  .modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .buttonmodal {
    margin: 3px !important;
  }

  svg {
    max-width: 375px;
  }

}